.sidenav {
    height: 100%;
    width: 160px;
    position: relative;
    z-index: 1;
    top: 25%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    

  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav button {
    color: gray;
  }

  .sidenav button:hover{
    color: black;
  }
  
  
/* css of boostrap card */
body{
  font-family: 'Montserrat', sans-serif;
  padding: 0.75%;
}

h4{
  font-weight:bold;
}
/*---------------------------*/
:root {
  --gutter: 20px;
}

.app {
  align-content: start;
}


.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

/* Demo styles */

ul {
  list-style: none;
  padding: 0;
}



.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9ea3b0;
  border-radius: 8px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.app{
  background-color: #fae1df;
  border-radius: 4%;
}

a{
  display:none;
}
.head-left{
  text-align: left;
  padding-left: 0.5%;
}
.head-right{
  margin-left: auto; 
  padding-right: 0.5%;
  float: right;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.snip1467 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 330px;
  max-width: 415px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  line-height: 1.5em;
}

.snip1467 *,
.snip1467 *:before,
.snip1467 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.snip1467 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  /* -webkit-transform: translate(-40px);
  transform: translate(-40px); */
}

.snip1467 figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  /* -webkit-transform: translateY(-25%);
  transform: translateY(-25%); */
  padding: 5px 40px;
  opacity: 1;
}

.snip1467 h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1467 p {
  font-weight: 400;
  margin: 0;
  font-size: 0.9em;
}
.snip1467:hover img{
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    
}

.snip1467 i {
  position: absolute;
  color: #fff;
  font-size: 34.375px;
  line-height: 55px;
  width: 55px;
  top: 0;
  left: 0;
  background-color: #64a6bd;
  -webkit-transform: translateX(-55px);
  transform: translateX(-55px);
  
}

.snip1467 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1467:hover i,
.snip1467.hover i {
  z-index: 10;
  -webkit-transform: translateX(0);
  transform: translateX(0);
} 

.snip1467{
  width: 20%;
}
